<div class="row newscontent">
    <div class="col-xl">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h5>Mualliflar sahifasi</h5>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Yangi Yozuvchilar
                    </button>
                </div>
                <table class="table table-striped mytable">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">title</th>
                            <th scope="col">author</th>
                            <th scope="col">category</th>
                            <th scope="col">status</th>
                            <th scope="col">slider</th>
                            <th scope="col">hot</th>
                            <th scope="col">topweek</th>
                            <th scope="col">top</th>
                            <th scope="col">popular</th>
                            <th scope="col">Big Popular</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each contents}}
                        <tr>
                            <th scope="row">{{@index}}</th>
                            <td><a href="news/show/{{_id}}">{{title}}</a></td>
                            <td>{{author.name}}</td>
                            <td>{{category.title}}</td>
                            <td style="cursor: pointer;">
                                <a href="/news/status/{{_id}}">{{{status}}}</a>
                            </td>
                            <td style="cursor: pointer;">
                                <a href="/news/hot/{{_id}}">{{{hot}}}</a>
                            </td>
                            <td style="cursor: pointer;">
                                <a href="/news/topweek/{{_id}}">{{{topweek}}}</a>
                            </td>
                            <td style="cursor: pointer;">
                                <a href="/news/top/{{_id}}">{{{top}}}</a>
                            </td> 
                            <td style="cursor: pointer;">
                                <a href="/news/popular/{{_id}}">{{{popular}}}</a>
                            </td> 
                            <td style="cursor: pointer;">
                                <a href="/news/bigPopular/{{_id}}">{{{bigPopular}}}</a>
                            </td>
                            <td style="cursor: pointer;">
                                <a href="/news/slider/{{_id}}">{{{slider}}}</a>
                            </td>
                            <td>
                                <a class="btn btn-warning" href="/news/get/{{_id}}" data-toggle="modal"
                                    data-target="#editModal" onclick="editElement('{{_id}}')"><i class="fas fa-edit"></i></a>
                                <a class="btn btn-danger" href="/news/delete/{{_id}}"
                                    onclick="return confirm('Qaroringiz aniqmi??')"><i class="fas fa-times"></i></a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal bd-example-modal-lg mymodal fade" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yangi Muallif</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">close</i>
                </button>
            </div>
            <div class="modal-body">
                <form action="/news?_csrf={{csrf}}" method="post" enctype="multipart/form-data">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="hidden" id="csrf" name="_csrf" value="{{csrf}}" />
                                    <label for="title">Maqola sarlavhasi</label>
                                    <input type="text" name="title" class="form-control" id="title"
                                        placeholder="Maqola sarlavhasini kiriting" />
                                </div>
                                <div class="form-group">
                                    <label for="description">Maqolani qisqacha tasnifi</label>
                                    <input type="text" name="description" class="form-control" id="description"
                                        placeholder="Maqola qisqacha tasnifi" />
                                </div>
                                <div class="form-group">
                                    <label for="description">Maqolani to'liq tasnifi</label>
                                    <textarea type="text" name="context" class="form-control" id="context"
                                        placeholder="Maqola to'liq tasnifi"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="author">Maqolani kim tomonidan tayyorlandi</label>
                                    <select name="author" id="author" class="form-control p-0 m-0 pt-2 pb-2 pl-2" >
                                        {{#each authors}}
                                             <option value="{{_id}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="category">Maqola bo'limini tanlang</label>
                                    <select name="category" id="category" class="form-control p-0 m-0 pt-2 pb-2 pl-2" >
                                        {{#each categories}}
                                             <option value="{{_id}}">{{title}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="Image">Maqola rasmi</label>
                                    <input type="file" name="Image" class="form-control" id="Image"
                                        placeholder="Maqola kim tomonidan tayyorlandi" />
                                </div>
                                <div class="form-group">
                                    <label for="hashList">Teglar ro'yxati(vergul bilan ajrating)</label>
                                    <input type="text" name="hashList" class="form-control" id="hashList"
                                        placeholder="Teglar ro'yxatini kiriting" />
                                </div>
                                <div class="container">
                                    <div class="row text-left">
                                        <div class="col-3 ml-0 pl-0">
                                            <div class="custom-control custom-checkbox form-group">
                                                <input type="checkbox" class="mr-2"  id="status" value="1" name="status" checked />         
                                                <label  class="ml-0 pl-0" for="status">status</label>
                                            </div>
                                        </div>
                                        <div class="col-3 ml-0 pl-0">
                                            <div class="custom-control custom-checkbox form-group">
                                                <input type="checkbox" class="mr-2"  id="slider" value="1" name="slider" checked />         
                                                <label  class="ml-0 pl-0" for="slider">slider</label>
                                            </div>
                                        </div>
                                        <div class="col-3 ml-0 pl-0">
                                            <div class="custom-control custom-checkbox form-group">
                                                <input type="checkbox" class="mr-2"  id="hot" value="1" name="hot" checked/>         
                                                <label for="hot">hot</label>
                                            </div>
                                        </div>
                                        <div class="col-3 ml-0 pl-0">
                                            <div class="custom-control custom-checkbox form-group">
                                                <input type="checkbox" class="mr-2"  id="topweek" value="1" name="topweek" checked />         
                                                <label class="ml-0"  for="topweek">topweek</label>
                                            </div>
                                        </div>
                                        <div class="col-3 ml-0 pl-0">
                                            <div class="custom-control custom-checkbox form-group">
                                                <input type="checkbox" class="mr-2"  id="top" value="1" name="top" checked  />         
                                                <label  for="top">top</label>
                                            </div>
                                        </div>
                                        <div class="col-3 ml-0 pl-0">
                                            <div class="custom-control custom-checkbox form-group">
                                                <input type="checkbox" class="mr-2" id="popular" value="1" name="popular"  checked />         
                                                <label  for="popular">popular</label>
                                            </div>
                                        </div>  
                                         <div class="col-3 ml-0 pl-0">
                                            <div class="custom-control custom-checkbox form-group">
                                                <input type="checkbox" class="mr-2"  id="bigPopular" value="1" name="bigPopular"  checked />         
                                                <label  for="bigPopular">bigPopular</label>
                                            </div>
                                        </div>     
                                                                            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer pr-0">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Bekor qilish</button>
                        <button type="submit" class="btn btn-primary">Saqlash</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal bd-example-modal-lg mymodal fade" id="editModal" tabindex="-1"  role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yangi Muallif</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">close</i>
                </button>
            </div>
            <div class="modal-body">
                <form action="/news/save?_csrf={{csrf}}" method="post" name="editForm" enctype="multipart/form-data">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="hidden" id="csrf" name="_csrf" value="{{csrf}}" />
                                    <input type="hidden" id="_id" name="_id" />
                                    <label for="title">Maqola sarlavhasi</label>
                                    <input type="text" name="title" class="form-control" id="title"
                                        placeholder="Maqola sarlavhasini kiriting" />
                                </div>
                                <div class="form-group">
                                    <label for="description">Maqolani qisqacha tasnifi</label>
                                    <input type="text" name="description" class="form-control" id="description"
                                        placeholder="Maqola qisqacha tasnifi" />
                                </div>
                                <div class="form-group">
                                    <label for="description">Maqolani to'liq tasnifi</label>
                                    <textarea type="text" name="context" class="form-control" id="context"
                                        placeholder="Maqola to'liq tasnifi"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="author">Maqolani kim tomonidan tayyorlandi</label>
                                    <select name="author" id="author" class="form-control p-0 m-0 pt-2 pb-2 pl-2" >
                                        {{#each authors}}
                                             <option value="{{_id}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="category">Maqola bo'limini tanlang</label>
                                    <select name="category" id="category" class="form-control p-0 m-0 pt-2 pb-2 pl-2" >
                                        {{#each categories}}
                                             <option value="{{_id}}">{{title}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="hashList">Teglar ro'yxati(vergul bilan ajrating)</label>
                                    <input type="text" name="hashList" class="form-control" id="hashList"
                                        placeholder="Teglar ro'yxatini kiriting" />
                                </div>
                                <div class="form-group">
                                    <label for="Image">Maqola rasmi</label>
                                    <input type="file" name="Image" class="form-control" id="Image"
                                        placeholder="Maqola kim tomonidan tayyorlandi" />
                                </div>
                                <div class="imageForm"  class="form-group">
                                        <img id="imageForm" width="70"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer pr-0">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Bekor qilish</button>
                        <button type="submit" class="btn btn-primary">Saqlash</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.ckeditor.com/4.18.0/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace('context')
    let editform = document.forms.editForm
    console.log(editform)

    function editElement(id) {
        console.log(id)
        let imageForm=document.getElementById('imageForm')
        fetch(`/news/get/${id}`)
            .then(res => res.json())
            .then(data => {
                console.log(data)
                editform.title.value=data.title
                editform._id.value=data._id
                editform.category.value=data.category._id
                editform.author.value=data.author._id
                editform.description.value=data.description
                editform.context.value=data.context
                editform.hashList.value=data.hashList
                if(data.Image){
                    imageForm.setAttribute('src',`/${data.Image}`)
                }
            })
    }
</script>