<div class="row">
    <div class="col-xl">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h5>Bo'limlar sahifasi</h5>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Yangi Bo'lim
                    </button>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">status</th>
                            <th scope="col">menu</th>
                            <th scope="col">footer</th>
                            <th scope="col">order</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each categories}}
                        <tr>
                            <th scope="row">{{@index}}</th>
                            <td>{{title}}</td>
                            <td style="cursor: pointer;">
                                <a href="/category/status/{{_id}}" >{{{status}}}</a>
                            </td>
                            <td style="cursor: pointer;">
                                <a href="/category/menu/{{_id}}" >{{{menu}}}</a>
                            </td>
                            <td style="cursor: pointer;">
                                <a href="/category/footer/{{_id}}" >{{{footer}}}</a>
                            </td>
                            
                            <td>{{order}}</td>
                            <td>
                                <a class="btn btn-warning" href="/category/get/{{_id}}" data-toggle="modal" data-target="#editModal" onclick="edit('{{_id}}')" ><i class="fas fa-edit"></i></a>
                                <a class="btn btn-danger" href="/category/delete/{{_id}}" onclick="return confirm('Qaroringiz aniqmi??')"><i class="fas fa-times"></i></a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yangi Bo'lim</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">close</i>
                </button>
            </div>
            <div class="modal-body">
                <form action="/category" method="post">
                    <div class="form-group">
                        <input type="hidden" id="csrf" name="_csrf" value="{{csrf}}" />
                        <input type="text" name="title" class="form-control" id="title"
                            placeholder="Bo'lim Sarlavhasi" />
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="orderNum" name="order" placeholder="Tartib raqami" />
                    </div>
                    <div class="custom-control custom-checkbox form-group">
                        <input type="checkbox" class="custom-control-input" id="Status" value="1" name="status"
                            checked />
                        <label class="custom-control-label" for="Status">status</label>
                    </div>
                    <div class="custom-control custom-checkbox form-group">
                        <input type="checkbox" class="custom-control-input" id="Menu" value="1" name="menu" checked />
                        <label class="custom-control-label" for="Menu">menu</label>
                    </div>
                    <div class="custom-control custom-checkbox form-group">
                        <input type="checkbox" class="custom-control-input" id="Footer" value="1" name="footer"
                            checked />
                        <label class="custom-control-label" for="Footer">footer</label>
                    </div>
                    <div class="modal-footer pr-0">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Bekor qilish</button>
                        <button type="submit" class="btn btn-primary">Saqlash</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Formani O'zgartirish</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">close</i>
                </button>
            </div>
            <div class="modal-body">
                <form action="/category/save" name="editForm" method="post">
                    <div class="form-group">
                        <input type="hidden" id="csrf" name="_csrf" value="{{csrf}}" />
                        <input type="hidden" id="id" name="_id" value="" />
                        <input type="text" name="title" class="form-control" id="title"
                            placeholder="Bo'lim Sarlavhasi" />
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="orderNum" name="order" placeholder="Tartib raqami" />
                    </div>
                    
                    <div class="modal-footer pr-0">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Bekor qilish</button>
                        <button type="submit" class="btn btn-primary">Saqlash</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    let editform=document.forms.editForm
    function edit(id){
        console.log(id)
        fetch(`category/get/${id}`)
            .then(res=>res.json())
            .then(data=>{
                editform.title.value=data.title
                editform._id.value=data._id
                editform.order.value=data.order
            })
    }       
</script>